{
  "presets": [ "@babel/preset-env" ],
  "plugins": [
    ["@babel/plugin-proposal-unicode-property-regex", { "useUnicodeFlag": true } ],
    "@babel/plugin-transform-async-to-generator"
  ],
  "exclude": "node_modules/**"
}
