* text eol=lf
.* text eol=lf
dist/* binary
package-lock.json binary
assets/classDiagram.svg binary
assets/*.png binary
tests/snapshots/* binary
*.xcm binary
*.xcb binary
dist/** linguist-generated
*config.js linguist-vendored
