<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>LIPS Scheme Functions and Macro Reference</title>
    <link rel="canonical" href="https://lips.js.org/reference.html" />
    <meta name="Description" content="LIPS Scheme function and macro reference with documentation."/>
    <style>
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search .input {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    background: white;
    padding: 5px 5px;
}
#search input {
    flex-grow: 1;
}
#search  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(var(--length, 80) * 1ch);
}
</style>
{{HEAD}}
<section>
  <header>
    <h2>Functions and Macro Reference</h2>
  </header>
  <div id="root">Loading...</div>
<script src="https://cdn.jsdelivr.net/npm/@jcubic/lips@beta/dist/lips.min.js"
        bootstrap="https://cdn.jsdelivr.net/npm/@jcubic/lips@beta/dist/std.xcb"></script>
<script src="https://cdn.jsdelivr.net/npm/react@18/umd/react.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script src="./app.js"></script>
{{FOOTER}}
</body>
</html>
