body {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
header.main, footer {
  background: linear-gradient(to right, #ff6600, #ff6600 25%, #d65600 75%);
}
header.main {
  padding: 10px;
  padding-bottom: 0;
}
header.main a {
    display: inline-block;
}
header img {
  float: left;
}
header h1 {
  color: white;
  margin: 30px;
  display: inline-block;
  letter-spacing: 2px;
}
header h1, nav, section header h2 {
  font-family: 'Play', sans-serif;
}
section h3, section p, footer, section ul {
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
}
nav {
  margin-top: 20px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: left;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
nav li:hover {
  border-bottom: 10px solid white;
  padding-bottom: 0;
}
nav li {
  display: inline-block;
  padding-bottom: 10px;
  margin-right: 20px;
}
nav li a {
  padding: 5px 15px;
  background: black;
  color: white;
  text-decoration: none;
  display: block;
}
nav li:last-child {
  margin-right: 0;
}
nav {
  font-size: 1.3em;
  font-family: play;
  text-transform: uppercase;
}
section header h2 {
  border-bottom: 5px solid #358ccb;
  padding-bottom: 5px;
  width: 300px;
  text-transform: uppercase;
}
.term {
  height: 200px;
}
footer {
  padding: 10px;
}
footer p, footer a {
  color: white;
}
footer p {
  margin: 0;
  text-align: center;
}
body .token.string, body .token.char {
    color: #df3189;
}
@media (max-width: 720px) {
    header.main h1 {
        margin: 0;
    }
    section {
        margin-left: 10px;
    }
    section#demo {
        margin-right: 10px;
    }
    code[class*="language-"] {
        min-width: 630px;
    }
    pre[class*="language-"] {
        width: 100%;
        overflow: auto;
    }
}
