/* HEADER */
body {
    margin: 0;
    font-family: 'Crimson Text', serif;
}
html {
    font-size: calc(0.2em + 1vw);
}
main {
    max-width: 1000px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding-bottom: 64px; /* footer */
}
main::before, main::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
}
main::before {
    left: -10px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}
main::after {
    right: -10px;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}
main > header, footer {
    background-image: linear-gradient(
        to right bottom,
        #298dce,
        #257ebb,
        #206fa8,
        #1b6196,
        #155384
    );
}
main > header {
    position: relative;
    height: 220px;
    padding: 15px;
}
h1, h2, main header nav, main header p {
    font-family: 'Play', sans-serif;
    font-weight: normal;
}
main header p.title, main header h1 {
    font-size: 28px;
    margin: 0;
    position: absolute;
    top: 130px;
    right: 40px;
}
main header .version {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0;
    font-size: 18px;
}
main header nav {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 20px;
}
main header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
main header li a, main header li a:visited {
    background: black;
    color: white;
    padding: 3px 8px 5px 8px;
    text-decoration: none;
}
main header li + li {
    margin-left: 10px;
}
main header li {
    border-bottom: 10px solid transparent;
}
main header li:hover {
    border-color: white;
}

main #content {
    padding: 0 10px 1px 10px;
}
main #content a,
main #content a:visited,
main footer a,
main footer a:visited {
    text-decoration: none;
}
main #content a,
main #content a:visited {
    color: #05206f;
}
main footer a,
main footer a:visited {
    color: #01203c;
}
main #content a:hover, main footer a:hover {
    text-decoration: underline;
}
#content code {
    font-size: 0.85em;
}
/* POSTS */
.meta figure {
    margin: 0;
}
.meta img {
    width: 100%;
}
main .meta h1, main .meta .intro {
    margin-left: 20px;
    margin-right: 20px;
}
/* FOOTER */
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
}
footer p {
    margin: 0;
}
