body {
    margin: 0;
    font-family: 'Crimson Text', serif;
}
section#head {
    background: linear-gradient(127deg, rgba(43,148,215,1) 0%, rgba(19,75,123,1) 100%);
}
section#head > header {
    padding-top: 70px;
    position: relative;
}
section#head .terminal {
    --background: #14232d;
    --color: white;
}
section#head .terminal,
section#head .intro > .actions,
section#head .examples {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

section#head .intro > .actions {
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 100;
}
section#head .intro > .actions > li {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    width: 52px;
    height: 52px;
    text-indent: -99999px;
    overflow: hidden;
}
section#head .exit-full-screen, .full-screen section#head .full-screen {
    display: none;
}
.full-screen section#head .exit-full-screen {
    display: block;
}
section#head .intro > .actions > li.full-screen {
    background-position: -52px 0;
}
section#head .intro > .actions > li, .top-bar .icons a {
    background: url(/img/icons.svg);
}
section#head .terminal {
    height: 200px;
}
section#head h1 {
    color: white;
    font-size: 34px;
    position: absolute;
    top: calc(70px + 55px);
    left: 350px;
    margin: 0;
    transform: translateY(-50%);
}
h1, h2, main header nav, main header p, .top-bars {
    font-family: 'Play', sans-serif;
    font-weight: normal;
}
/* TOP BAR */
.top-bar {
    background: #4d4d4d;
    left: 0;
    right: 0;
    position: absolute;
    top: 10px;
    height: 40px;
    font-size: 20px;
}
.top-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.top-bar a, .top-bar a:visited {
    text-decoration: none;
    color: white;
}
.top-bar nav, .top-bar nav ul, .top-bar nav li {
    height: 100%;
}
.top-bar nav li a {
    padding: 5px 10px;
}
.top-bar nav li {
    display: flex;
}
.top-bar nav li::before {
    content: '';
    display: inline-block;
    height: 100%;
}
.top-bar nav li + li::before {
    border-left: 1px solid black;
    border-right: 1px solid #c0c0c0;
}
.top-bar .icons {
    position: absolute;
    right: 30px;
    top: 0;
}
.top-bar .icons li {
    margin: 0 5px;
}
.top-bar .icons a {
    display: block;
    text-indent: -99999999px;
    height: 32px;
    width: 32px;
    margin: 4px 0;
}
.top-bar .twitter a {
    background-position: -104px 0;
}
.top-bar .github a {
    background-position: -136px 0;
}
/* Examples */
section#head .examples {
    position: relative;
}
section#head .examples .run,
section#head .examples {
    background: #4d4d4d;
}
section#head .examples .run {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    margin-top: 30px;
    display: block;
    font-size: 20px;
    margin-left: -10px;
    cursor: pointer;
}
section#head .examples .run:active {
    margin-top: 31px;
    margin-left: -9px;
}
section#head .examples ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section#head .examples .list li {
    padding: 20px;
    display: flex;
}
section#head pre {
    margin: 0;
    padding: 5px;
}
section#head .example {
    background: #eee;
    border-radius: 5px;
}
section#head .example, section#head .description {
    width: 50%;
}
section#head .description {
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 20px;
}
