body {
    margin: 0;
    font-family: 'Crimson Text', serif;
}
.cloak {
    display: none !important;
}
section#head {
    background: linear-gradient(127deg, rgba(43,148,215,1) 0%, rgba(19,75,123,1) 100%);
    min-height: 544px;; /* prevent content shift when terminal and example are hidden */
}
section#head > header {
    padding-top: 70px;
    position: relative;
}
section#head .intro {
    position: relative;
}
section#head .terminal {
    --background: #14232d;
    --color: white;
}
section#head .terminal,
section#head .actions-wrapper,
section#head .examples {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
section#head .actions-wrapper {
    position: relative;
}
.full-screen section#head .intro .actions-wrapper {
    max-width: initial;
    position: absolute;
    top: 0;
    right: 0;
}
.full-screen section#head ~ * {
    display: none;
}
.full-screen section#head {
    min-height: initial;
}
section#head .intro .actions {
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
section#head .intro .actions li.icon {
    margin: 10px;
    width: 52px;
    height: 52px;
    overflow: hidden;
    cursor: pointer;
}
section#head .intro .actions a {
    display: block;
    text-indent: -99999px;
}
section#head .intro .actions > li.full-screen {
    position: relative;
    padding: 10px;
    width: 52px;
    height: 52px;
}
section#head .intro .actions > li.full-screen li {
    position: absolute;
    right: 0;
    top: 0;
}
section#head .exit-full-screen,
.full-screen section#head li .full-screen {
    display: none;
}
section#head .intro .actions .icon,
.top-bar .icons a {
    background-image: url(../img/icons.svg);
}
.full-screen section#head .exit-full-screen {
    display: block;
    background-position: -64px 0;
}
section#head .intro .actions li .full-screen {
    background-position: -116px 0;
}
section#head .intro .actions > li.zoom-in {
    background-position: -168px 0;
}
section#head .intro .actions > li.zoom-out {
    background-position: -220px 0;
}
section#head .terminal {
    height: calc((var(--size, 1) * 14 * 14px) + 20px);
}
.full-screen .terminal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh !important;
    max-width: initial !important;
    z-index: 50;
}
section#head h1 {
    color: white;
    font-size: 34px;
    position: absolute;
    top: calc(70px + 55px);
    left: 350px;
    margin: 0;
    transform: translateY(-50%);
}
h1, h2, main header nav, main header p, .top-bars, section#head .description {
    font-family: 'Play', sans-serif;
    font-weight: normal;
}
/* TOP BAR */
.top-bar {
    background: #4d4d4d;
    left: 0;
    right: 0;
    position: absolute;
    top: 10px;
    height: 40px;
    font-size: 20px;
}
.top-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.top-bar a, .top-bar a:visited {
    text-decoration: none;
    color: white;
}
.top-bar nav, .top-bar nav ul, .top-bar nav li {
    height: 100%;
}
.top-bar nav li a {
    padding: 5px 10px;
}
.top-bar nav li {
    display: flex;
}
.top-bar nav li::before {
    content: '';
    display: inline-block;
    height: 100%;
}
.top-bar nav li + li::before {
    border-left: 1px solid black;
    border-right: 1px solid #c0c0c0;
}
.top-bar .icons {
    position: absolute;
    right: 30px;
    top: 0;
}
.top-bar .icons li {
    margin: 0 5px;
}
.top-bar .icons a {
    display: block;
    text-indent: -99999999px;
    height: 32px;
    width: 32px;
    margin: 4px 0;
}
.top-bar .twitter a {
    background-position: 0 0;
}
.top-bar .github a {
    background-position: -32px 0;
}
/* Examples */
section#head .examples {
    position: relative;
}
section#head .examples .run,
section#head .examples {
    background: #4d4d4d;
}
section#head .examples .run {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    margin-top: 30px;
    display: block;
    font-size: 20px;
    margin-left: -10px;
    cursor: pointer;
}
section#head .examples .run:active {
    margin-top: 31px;
    margin-left: -9px;
}
section#head .examples ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section#head .examples .list li {
    padding: 20px;
    display: flex;
}
section#head pre {
    margin: 0;
    padding: 5px;
}
section#head .example {
    background: #eee;
    border-radius: 5px;
}
section#head .example, section#head .description {
    width: 50%;
}
section#head .description {
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 20px;
}
section#head .examples .list > li {
    display: none;
}
section#head .examples .list > li.active {
    display: flex;
}
/* example pagiantion */
.examples .pagination {
    display: flex;
    position: absolute;
    top: calc(100% - 10px);
    right: 25%;
    transform: translate(50%, -100%);
}
.examples .pagination li {
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 3px;
}
.examples .pagination li:active {
    cursor: pointer;
}
.examples .pagination li + li {
    margin-left: 10px;
}
.examples .pagination a {
    display: block;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
}
.examples .pagination li,
.examples .pagination a,
.examples .pagination a:visited {
    background: #1d6aa1;
    color: white;
    text-decoration: none;
s}
.examples .pagination li.active,
.examples .pagination li.active a,
examples .pagination li.active a:visited {
    background: white;
    color: #1d6aa1;
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
     -moz-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes loader {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
