.intro .term {
    --background: #14232d;
    --color: white;
    height: calc((var(--size, 1) * 14 * 12px) + 20px);
    min-height: calc((var(--size, 1) * 5 * 12px) + 22px);
    resize: vertical;
    overflow: hidden;
}
.intro .terminal.marker {
    position: absolute;
    left: -9999999999px;
}
.intro .term:not(.terminal) {
    background: var(--background);
}
.intro {
    position: relative;
}
.full-screen  .intro {
    position: initial;
}
.intro .term,
.intro .actions-wrapper,
.intro .examples {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.actions-wrapper {
    position: relative;
}
body:not(.full-screen) .exit-full-screen {
    display: none;
}
body.full-screen {
    overflow: hidden !important;
}
body.full-screen .full-screen.icon {
    display: none;
}
.full-screen .intro .actions-wrapper, body.full-screen .term {
    position: fixed;
    top: 0;
    right: 0;
    max-width: initial;
}
body.full-screen .term {
    bottom: 0;
    left: 0;
    z-index: 300;
    height: auto !important;
}
.full-screen .intro .actions-wrapper {
    z-index: 400;
}
.intro .actions {
    padding: 0;
    maring: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
.intro .actions li.icon {
    margin: 10px;
    width: 52px;
    height: 52px;
    overflow: hidden;
    cursor: pointer;
}
.intro .actions a {
    display: block;
    text-indent: -99999px;
    height: 100%;
}
.intro .actions > li.full-screen {
    position: relative;
    margin: 10px;
    width: 52px;
    height: 52px;
}
.intro .actions > li.full-screen li {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}
.intro .egg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}
.intro .egg button {
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    height: 24px;
    width: 24px;
    padding: 0;
    font-size: 1.3em;
    background: none;
}
.intro .egg button:hover {
    background: #E79E2D;
    font-weight: bold;
}
.intro .actions .icon,
.top-bar .icons a {
    background-image: url(/img/icons.svg);
}
.full-screen .exit-full-screen {
    display: block;
    background-position: -64px 0;
}
.intro .actions li .full-screen {
    background-position: -116px 0;
}
.intro .actions > li.zoom-in {
    background-position: -168px 0;
}
.intro .actions > li.zoom-out {
    background-position: -220px 0;
}
.intro .loader-container {
    padding: 10px;
}
.intro .loader {
    --frames: 6;
    color: var(--color);
    font-size: calc(var(--size, 1) * 14px);
    height: 1lh;
    overflow: hidden;
}
.intro .loader div {
    animation: appear calc(var(--frames) * 0.4s) infinite steps(var(--frames));
}
@keyframes appear {
    100% {
        translate: 0 calc(var(--frames) * -100%);
    }
}
.examples .list {
    padding-top: 30px;
}
.list li {
    padding: 20px;
    display: flex;
}
.examples .list > li {
    display: none;
}
.examples .list > li.active {
    display: flex;
}
.example {
    --background: transparent;
    background: #eee;
    border-radius: 5px;
    position: relative;
    overflow-x: auto;
    width: 60%;
}
.example pre {
    --color: black;
    color: var(--color);
    margin: 1em;
    padding: 0;
    background-color: #eee;
    font-family: monospace;
    border-radius: 0;
    overflow: visible;
}
.example pre .token {
  background: transparent;
}
.description {
    width: 40%;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 20px;
}
.examples {
    position: relative;
}
.term, .examples, .pagination {
    text-align: left;
}
.run,
.examples {
    background: #4d4d4d;
}
.run {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    position: absolute;
    left: 60%;
    transform: translate(-100%, 0);
    top: 60px;
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: -10px;
    cursor: pointer;
    transition: transform 100ms linear;
    z-index: 100;
}
.run[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.run:active {
    transform: translate(-100%, 1px);
}
.examples ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.examples .pagination {
    display: flex;
    position: absolute;
    top: 10px;
    left: 20px;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 10px;
}
.examples .pagination li {
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 3px;
}
.examples .pagination li:active {
    cursor: pointer;
}
.examples .pagination a {
    display: block;
    height: 100%;
    padding: 1px 2px 2px 2px;
    border-radius: 5px;
    box-sizing: border-box;
}
.examples .pagination a,
.examples .pagination a:visited {
    background: #1d6aa1;
    color: white;
    text-decoration: none;
}
.examples .pagination a {
    transition: all 100ms linear;
}
.examples .pagination li.active a {
  color: #1d6aa1;
  background: white;
  font-weight: bold;
}
@media (max-width: 700px) {
    .example, .description {
        width: 100%;
        margin-top: 10px;
        padding: 0;
    }
    .examples .list > li.active {
        flex-direction: column;
    }
    .run {
        left: 100%;
        margin-left: -30px;
        top: 70px;
    }
}
@media (max-width: 640px) {
    header .container, .intro .term, .intro .actions-wrapper, .intro .examples {
        margin: 0;
        max-width: none;
        padding: 0;
    }
    .hero--primary {
        padding: 0 !important;
    }
}
@media (max-width: 530px) {
    .examples .list {
        padding-top: 60px;
    }
    .run {
        top: 100px;
    }
}
