name: Codespell

on:
  push:
    branches:
      - master
      - devel
  pull_request:
    branches:
      - master
      - devel

permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          skip: ./docs/package-lock.json
